/* MENU  */

.nav-bar {
    width: 100%;
    position: absolute;
}

.nav-bar .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-bar .content .logo {
    flex-basis: 30%;
}

.nav-bar .content .logo img {
    height: 77px;
    padding: 0 15px;
}

.nav-bar .content .menu {
    flex-basis: 70%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.nav-bar .content .menu-content {
    display: flex;
    flex-direction: row;
}

.nav-bar .content .menu-content a {
    display: inline-block;
    padding: 0 20px;
}

/* SHOWCASE */
.showcase{
    width: 100%;
    margin: 50px 0;
}
.showcase .container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.showcase .container .left-item {
    min-width: 11%;
    max-width: calc((100% - 1100px)/2);
}

.showcase .container .right-item {
    flex-basis: 40%;
}

.showcase .container img {
    width: 100%;
}

.showcase .container .center-item {
    position: absolute;
    width: 1100px;
    left: calc((100% - 1100px)/2);
    padding: 200px 0;
}

.showcase .container .center-item .content {
    width: 50%;
}

.showcase .container .center-item .content h1 {
    font-size: 60px;
    line-height: 75px;
}

.showcase .content .cta {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.showcase .content .cta .video {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
}

.showcase .content .cta .material-icons {
    color: var(--primary-color);
    background-color: #fcf5ee;
    border: none;
    border-radius: 50%;
    font-size: 45px;
    margin-right: 15px;
}

.showcase .content .cta .video span:hover {
    color: var(--primary-color);
}

/* CENTER  */

.center {
    width: 100%;
    position: relative;
    margin: 50px 0;
}

.center .container {
    text-align: center;
}

.center .content {
    margin: 0 95px;
    padding: 0 15px;
}

#decor1 {
    max-width: 160px;
    position: absolute;
    left: 16%;
    top:-50px;
}

#decor2 {
    max-width: 88px;
    position: absolute;
    top: 50%;
    right: 135px;
}

.center .content .icon {
    margin-bottom: 40px;
    text-align: center;
}

.center .content .icon img {
    width: 84px;
}

.img-service{
    width: 100%;
    display: grid;
    grid-template-areas:
    'img img img img';
    grid-column-gap: 5px;
    margin-bottom: 50px;
}
.img-service .img{
    position: relative;
}
.img-service .img img{
    width: 100%;
}
.img-service .img .hover{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.img-service .img .hover img{
    width: 47px;
}
.img-service .img:hover  .hover{
    background-color: rgba(255, 129, 126, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white    ;
}


/* procedure */
.procedure{
    width: 100%;
    margin: 50px 0;
}
.procedure .container{
    max-width: 1100px;
}
.procedure .content .title-desc{
    width: 100%;
    display: flex;
    justify-content: center;
}
.procedure .title-desc .title-desc-content{
    flex-basis: 60%;
    text-align: center;
}
.procedure .procedure-cards{
    display: grid;
    grid-template-areas:'card card card';
    justify-content: center;
}
.procedure .procedure-cards .card{
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.procedure .procedure-cards .card p{
    margin-bottom: 40px;
}
.procedure .procedure-cards .card button{
    margin-bottom: 30px;
}
.procedure .procedure-cards .card:hover{
    box-shadow: 0 5px 20px #f0f0f0;
}
.procedure .procedure-cards .card:hover button{
background-color:  var(--primary-color);
}
/* REVIEW */
.review{
    width: 100%;
    background-color: #fff9f8;
    margin: 50px 0;
    padding: 50px 0;
}
.review .container{
    display: flex;
    justify-content: center;
}
.review .container .content{
    flex-basis: 80%;
}




